{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  Allocations
{% endblock tab_title %}

{#{% block content_title %}#}
{#  Portfolio#}
{#{% endblock content_title %}#}

{% block content %}

  BTC Value: {{ allocation_object.BTC_value }}
  USD Value: {{ allocation_object.USD_value|default_if_none:"N/A" }}

  <h1>Portfolio Allocations</h1>

  {{ allocation_object.realized_allocation }}
  {{ allocation_object.target_allocation }}

  <ul>
    {% for allocation in allocation_object.realized_allocation %}

      <li>
        {% widthratio allocation.portion 1 100 %}%
        |
        {{ allocation.coin }}
      </li>

    {% endfor %}
  </ul>

  {{ binance_coins }}

  {% for coin in binance_coins %}

    <div id="coin-{{ coin }}">
      {{ coin }}
      <input type="number">

    </div>

  {% endfor %}






{% endblock content %}
