{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  Allocations
{% endblock tab_title %}

{#{% block content_title %}#}
{#  Portfolio#}
{#{% endblock content_title %}#}

{% block content %}

  BTC Value: {{ allocation_snapshot.BTC_price }}

  <h1>Portfolio Allocations</h1>

  {{ allocation_snapshot.realized_allocation }}
  {{ allocation_snapshot.target_allocation }}

  <ul>
    {% for coin, portion in allocation_snapshot.realized_allocation.items %}


      <li>
        {% widthratio portion 1 100 %}%
        |
        {{ coin }}
      </li>

    {% endfor %}
  </ul>

  {{ allocation_form }}

{% endblock content %}
